.cli input[type="text"] {
    border:none;
    outline: none;
    background-color: transparent;
    caret-color: white;
    color: white;
    font-size: 1rem;
    overflow: visible;
    width: 90%;
}

.cli .display {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    overflow: visible;
    width: 90%;
}

.cli h5 {
    color: cadetblue;
}

.cli h5 span {
    color: white;
}

.cli label {

    color: cadetblue;
}

.cli p {
    color: cadetblue;
}

.cli {
    width: auto;
}

@media (max-width:650px) {
    .cli input[type="text"] {
        border:none;
        outline: none;
        background-color: transparent;
        caret-color: white;
        color: white;
        font-size: 1rem;
        overflow: visible;
        width: 50%;
    }
}

@media (max-width: 350px) {
    .cli {
        font-weight: lighter;
    }

    .cli input[type="text"] {
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: white;
        color: white;
        width: 90%;
    }
    
    .cli .display {
        color: white;
        font-weight: 200;
        width: 90%;
    }
}
