.cli input[type="text"] {
    border:none;
    outline: none;
    background-color: transparent;
    caret-color: white;
    color: white;
    font-size: 1rem;
    overflow: visible;
    width: 90%;
}

.cli .display {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    overflow: visible;
    width: 90%;
}

.cli h5 {
    color: cadetblue;
}

.cli h5 span {
    color: white;
}